@use "../../styles/responsive.scss" as *;

.cardProduct {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  .cardProduct-container {
    background: #f1f1f1;
    width: 800px;
    height: 100%;
    transition: transform 0.3s ease;
    padding: 20px;
    overflow-y: auto;

    .cardProduct-top {
      display: flex;
      justify-content: space-between;
      .cardProduct-top-left {
        display: flex;
        align-items: center;
        gap: 5px;

        .cross-icon {
          font-size: 30px;
          stroke-width: 1;
          color: $secondary-color;
          cursor: pointer;
        }
      }
      button {
        display: flex;
        gap: 5px;
      }
    }

    .cardProduct-desc {
      margin-top: 30px;
      .details {
        font-weight: bold;
        color: $secondary-color;
      }

      .cardProduct-content {
        .cardProduct-content-left {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-top: 20px;
          .cardProduct-content-left-item {
            .invoice-name {
              background: #b5fdff;
              padding: 15px;
              font-size: 18x;
              font-weight: bold;
              border-radius: 50%;
              letter-spacing: 1px;
            }
          }

          .cardProduct-content-left-item2 {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .cardProduct-content-left-item2-item {
              display: flex;
              gap: 30px;

              p {
                font-weight: 500;
                display: flex;
                gap: 10px;
                color: $secondary-color;
                span {
                  font-weight: bold;
                  color: #000;
                }
              }
            }
          }
        }
      }
    }

    .cardProduct-price {
      margin-top: 30px;

      display: flex;
      gap: 20%;
      @include md {
        gap: 60px;
      }

      @include sm {
        gap: 20px;
      }
      .cardProduct-price-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          color: $secondary-color;
          font-size: 18px;
          margin-bottom: 15px;
          font-weight: bold;

          @include md {
            font-size: 14px;
          }
        }

        &:nth-child(1),
        &:nth-child(2) {
          span {
            color: #0c8346;
          }
        }

        &:last-child {
          span {
            color: #e11900;
          }
        }

        span {
          font-size: 30px;
          font-weight: bold;

          @include md {
            font-size: 25px;
          }
        }
      }
    }
  }
}
