@use "../../styles/responsive.scss" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;

  .navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &:hover {
      p,
      .user-icon {
        color: $primary-color;
      }
      .user-icon {
        background: #fff;
        border: 2px solid $primary-color;
      }
    }

    .user-profile {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .user-icon {
      width: 40px;
      height: 40px;
      background: white;
      padding: 5px;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
      border: 2px solid black;
    }

    p {
      font-size: 20px;
      font-weight: bold;
      transition: all 0.3s ease-in-out;

      @include sm {
        display: none;
      }
    }
  }

  .navbar-right {
    .primary-btn {
      display: flex;
      align-items: center;
      gap: 10px;

      .login-icon {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
